<% if (isAdmin) { %>
<div class="top-header flex flex-row justify-between p-2 items-center">
    <div class="">
        <ul class="quicklinks flex justify-start sm:gap-4">
            <li>
                <a class="" href="javascript:void(0);">
                    <svg class="inline-block me-2" width="18px" height="18px" viewBox="0 0 20.00 20.00" xmlns="http://www.w3.org/2000/svg" fill="#c3c4c7" stroke="#c3c4c7" stroke-width="0.0002"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.04"></g><g id="SVGRepo_iconCarrier"> <rect x="0" fill="none" width="20" height="20"></rect> <g> <path d="M3.76 16h12.48c1.1-1.37 1.76-3.11 1.76-5 0-4.42-3.58-8-8-8s-8 3.58-8 8c0 1.89.66 3.63 1.76 5zM10 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 6c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm8 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-5.37 5.55L12 7v6c0 1.1-.9 2-2 2s-2-.9-2-2c0-.57.24-1.08.63-1.45zM4 10c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm12 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-5 3c0-.55-.45-1-1-1s-1 .45-1 1 .45 1 1 1 1-.45 1-1z"></path> </g> </g></svg>
                    Word Finder</a>
                <ul class="submenu">
                    <li>
                        <a class="" href="/admin/dashboard">Dashboard</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="" href="<%= `/admin/pages/edit/${page._id}` %>">
                    <svg class="inline-block me-2" fill="#c3c4c7" width="16px" height="16px" viewBox="0 0 32 32" id="Outlined" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Fill"> <path d="M29.12,6.05,26,2.88a3,3,0,0,0-4.24,0L6.29,18.29a3.06,3.06,0,0,0-.72,1.18L2.08,29.92l10.46-3.49a3.15,3.15,0,0,0,1.17-.72L29.12,10.29a3,3,0,0,0,0-4.24Zm-21,13.28,8.75-8.74,1.58,1.58L9.67,20.92ZM18.24,9.17l1.59-1.58,4.58,4.58-1.58,1.59ZM7.1,21.19l3.72,3.71L5.25,26.75Zm5.57,2.73-1.59-1.59,8.75-8.74,1.58,1.58Zm15-15-1.88,1.88L21.24,6.17l1.88-1.88A1,1,0,0,1,23.83,4a1,1,0,0,1,.71.29l3.17,3.18a1,1,0,0,1,.29.7A1,1,0,0,1,27.71,8.88Z"></path> </g> </g></svg>
                    Edit Page</a>
            </li>
        </ul>
    </div>

    <div class="">
        <!-- Profile Dropdown Button -->
        <div class="hs-dropdown relative inline-flex [--placement:bottom-right] profileMenu">
            <button id="hs-dropdown-default" type="button" class="flex items-center hs-dropdown-toggle nav-link">
                <span class="display-name mr-2 inline-block"><%= username ? username : 'Admin' %></span>
                <svg class="inline-block w-6 sm:w-auto" fill="#c3c4c7" width="40px" height="40px" viewBox="-1 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zm-6.24-.064H6.81a2.528 2.528 0 0 0-2.692 2.303v1.51a.794.794 0 0 0 .792.792h7.166a.794.794 0 0 0 .792-.791V11.82a2.528 2.528 0 0 0-2.692-2.302zM6.14 6.374a2.353 2.353 0 1 0 2.353-2.353A2.353 2.353 0 0 0 6.14 6.374z"></path></g></svg>
            </button>

            <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] hs-dropdown-open:opacity-100 opacity-0 hidden z-10 mt-2 min-w-[10rem] shadow-md py-2 profileDropdown" aria-labelledby="hs-dropdown-default">
                <a class="flex items-center" href="/user/user-profile">
                    <svg class="inline-block me-2" fill="#c3c4c7" width="22px" height="22px" viewBox="-1 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zm-6.24-.064H6.81a2.528 2.528 0 0 0-2.692 2.303v1.51a.794.794 0 0 0 .792.792h7.166a.794.794 0 0 0 .792-.791V11.82a2.528 2.528 0 0 0-2.692-2.302zM6.14 6.374a2.353 2.353 0 1 0 2.353-2.353A2.353 2.353 0 0 0 6.14 6.374z"></path></g></svg>
                    <span>My Account</span>
                </a>
                <a class="flex items-center gap-x-3.5" href="/user/user-profile">
                    <svg class="inline-block me-2" fill="#c3c4c7" width="16px" height="16px" viewBox="0 0 32 32" id="Outlined" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Fill"> <path d="M29.12,6.05,26,2.88a3,3,0,0,0-4.24,0L6.29,18.29a3.06,3.06,0,0,0-.72,1.18L2.08,29.92l10.46-3.49a3.15,3.15,0,0,0,1.17-.72L29.12,10.29a3,3,0,0,0,0-4.24Zm-21,13.28,8.75-8.74,1.58,1.58L9.67,20.92ZM18.24,9.17l1.59-1.58,4.58,4.58-1.58,1.59ZM7.1,21.19l3.72,3.71L5.25,26.75Zm5.57,2.73-1.59-1.59,8.75-8.74,1.58,1.58Zm15-15-1.88,1.88L21.24,6.17l1.88-1.88A1,1,0,0,1,23.83,4a1,1,0,0,1,.71.29l3.17,3.18a1,1,0,0,1,.29.7A1,1,0,0,1,27.71,8.88Z"></path> </g> </g></svg>
                    <span>Edit</span>
                </a>
                <a class="flex items-center" href="/auth/logout">
                    <svg class="inline-block me-2" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#605252" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.5" d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17" stroke="#c3c4c7" stroke-width="1.5" stroke-linecap="round"></path> <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#c3c4c7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</div>
<% } %>

<header class="relative flex flex-wrap w-full py-5 text-sm bg-white shadow-md sm:justify-start sm:flex-nowrap">
    <nav class="max-w-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8" aria-label="Global">
        <div class="relative sm:flex sm:items-center">
            <div class="flex items-center justify-between">
                <a class="flex-none" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="152" height="52" viewBox="0 0 152 52" fill="none" class="logo">
                    <rect width="51.6562" height="51.6562" rx="25.8281" fill="#007BFF"></rect>
                    <path d="M74.5905 24.2989L71.6447 34.8436H69.152L67.173 27.3354L65.1033 34.8436L62.6258 34.8587L59.7856 24.2989H62.0517L63.9099 32.4869L66.0551 24.2989H68.4118L70.4361 32.4416L72.3094 24.2989H74.5905Z" fill="#283551"></path>
                    <path d="M79.6878 34.9796C78.8821 34.9796 78.157 34.8033 77.5124 34.4508C76.8679 34.0882 76.3593 33.5796 75.9866 32.925C75.6241 32.2704 75.4428 31.515 75.4428 30.659C75.4428 29.8029 75.6291 29.0475 76.0017 28.3929C76.3844 27.7383 76.9031 27.2347 77.5577 26.8822C78.2124 26.5196 78.9426 26.3383 79.7483 26.3383C80.554 26.3383 81.2841 26.5196 81.9388 26.8822C82.5934 27.2347 83.1071 27.7383 83.4797 28.3929C83.8624 29.0475 84.0538 29.8029 84.0538 30.659C84.0538 31.515 83.8574 32.2704 83.4646 32.925C83.0819 33.5796 82.5582 34.0882 81.8935 34.4508C81.2388 34.8033 80.5036 34.9796 79.6878 34.9796ZM79.6878 33.1365C80.0705 33.1365 80.4281 33.0459 80.7604 32.8646C81.1029 32.6732 81.3748 32.3912 81.5762 32.0186C81.7776 31.6459 81.8784 31.1927 81.8784 30.659C81.8784 29.8633 81.6669 29.254 81.2439 28.831C80.8309 28.3979 80.3223 28.1814 79.7181 28.1814C79.1138 28.1814 78.6052 28.3979 78.1922 28.831C77.7894 29.254 77.588 29.8633 77.588 30.659C77.588 31.4546 77.7844 32.0689 78.1771 32.502C78.58 32.925 79.0836 33.1365 79.6878 33.1365Z" fill="#283551"></path>
                    <path d="M87.7202 27.7735C87.9921 27.3304 88.3446 26.9829 88.7777 26.7311C89.2208 26.4793 89.7244 26.3535 90.2884 26.3535V28.5742H89.7294C89.0647 28.5742 88.5611 28.7303 88.2187 29.0425C87.8863 29.3547 87.7202 29.8986 87.7202 30.6741V34.8436H85.6052V26.4743H87.7202V27.7735Z" fill="#283551"></path>
                    <path d="M91.1691 30.6287C91.1691 29.7827 91.3352 29.0324 91.6676 28.3778C92.01 27.7232 92.4733 27.2196 93.0574 26.8671C93.6416 26.5146 94.2912 26.3383 95.0062 26.3383C95.5501 26.3383 96.0688 26.4592 96.5623 26.7009C97.0557 26.9326 97.4485 27.2448 97.7406 27.6375V23.6644H99.8858V34.8436H97.7406V33.6048C97.4787 34.0177 97.1111 34.3501 96.6378 34.6019C96.1644 34.8537 95.6155 34.9796 94.9911 34.9796C94.2861 34.9796 93.6416 34.7983 93.0574 34.4357C92.4733 34.0731 92.01 33.5645 91.6676 32.9099C91.3352 32.2452 91.1691 31.4848 91.1691 30.6287ZM97.7557 30.659C97.7557 30.1453 97.655 29.7072 97.4536 29.3446C97.2521 28.972 96.9802 28.69 96.6378 28.4986C96.2954 28.2972 95.9278 28.1965 95.535 28.1965C95.1422 28.1965 94.7796 28.2922 94.4473 28.4835C94.1149 28.6749 93.843 28.9569 93.6315 29.3295C93.4301 29.6921 93.3294 30.1252 93.3294 30.6287C93.3294 31.1323 93.4301 31.5754 93.6315 31.9582C93.843 32.3308 94.1149 32.6178 94.4473 32.8193C94.7897 33.0207 95.1523 33.1214 95.535 33.1214C95.9278 33.1214 96.2954 33.0257 96.6378 32.8344C96.9802 32.6329 97.2521 32.3509 97.4536 31.9884C97.655 31.6157 97.7557 31.1726 97.7557 30.659Z" fill="#283551"></path>
                    <path d="M112.062 24.2989V26.006H107.666V28.7101H111.035V30.387H107.666V34.8436H105.551V24.2989H112.062Z" fill="#283551"></path>
                    <path d="M114.635 25.4772C114.262 25.4772 113.95 25.3614 113.698 25.1298C113.456 24.8881 113.335 24.591 113.335 24.2385C113.335 23.886 113.456 23.5939 113.698 23.3623C113.95 23.1206 114.262 22.9997 114.635 22.9997C115.007 22.9997 115.314 23.1206 115.556 23.3623C115.808 23.5939 115.934 23.886 115.934 24.2385C115.934 24.591 115.808 24.8881 115.556 25.1298C115.314 25.3614 115.007 25.4772 114.635 25.4772ZM115.677 26.4743V34.8436H113.562V26.4743H115.677Z" fill="#283551"></path>
                    <path d="M122.404 26.3535C123.402 26.3535 124.207 26.6707 124.822 27.3052C125.436 27.9296 125.743 28.8058 125.743 29.9338V34.8436H123.628V30.2208C123.628 29.5561 123.462 29.0475 123.13 28.695C122.797 28.3325 122.344 28.1512 121.77 28.1512C121.186 28.1512 120.723 28.3325 120.38 28.695C120.048 29.0475 119.882 29.5561 119.882 30.2208V34.8436H117.767V26.4743H119.882V27.5167C120.164 27.1541 120.521 26.8721 120.954 26.6707C121.397 26.4592 121.881 26.3535 122.404 26.3535Z" fill="#283551"></path>
                    <path d="M127.21 30.6287C127.21 29.7827 127.377 29.0324 127.709 28.3778C128.051 27.7232 128.515 27.2196 129.099 26.8671C129.683 26.5146 130.333 26.3383 131.048 26.3383C131.592 26.3383 132.11 26.4592 132.604 26.7009C133.097 26.9326 133.49 27.2448 133.782 27.6375V23.6644H135.927V34.8436H133.782V33.6048C133.52 34.0177 133.153 34.3501 132.679 34.6019C132.206 34.8537 131.657 34.9796 131.033 34.9796C130.328 34.9796 129.683 34.7983 129.099 34.4357C128.515 34.0731 128.051 33.5645 127.709 32.9099C127.377 32.2452 127.21 31.4848 127.21 30.6287ZM133.797 30.659C133.797 30.1453 133.696 29.7072 133.495 29.3446C133.294 28.972 133.022 28.69 132.679 28.4986C132.337 28.2972 131.969 28.1965 131.576 28.1965C131.184 28.1965 130.821 28.2922 130.489 28.4835C130.156 28.6749 129.884 28.9569 129.673 29.3295C129.472 29.6921 129.371 30.1252 129.371 30.6287C129.371 31.1323 129.472 31.5754 129.673 31.9582C129.884 32.3308 130.156 32.6178 130.489 32.8193C130.831 33.0207 131.194 33.1214 131.576 33.1214C131.969 33.1214 132.337 33.0257 132.679 32.8344C133.022 32.6329 133.294 32.3509 133.495 31.9884C133.696 31.6157 133.797 31.1726 133.797 30.659Z" fill="#283551"></path>
                    <path d="M145.773 30.4777C145.773 30.7798 145.753 31.0517 145.713 31.2934H139.594C139.645 31.8977 139.856 32.3711 140.229 32.7135C140.601 33.0559 141.06 33.2271 141.603 33.2271C142.389 33.2271 142.948 32.8898 143.28 32.215H145.562C145.32 33.0207 144.857 33.6854 144.172 34.2091C143.487 34.7227 142.646 34.9796 141.649 34.9796C140.843 34.9796 140.118 34.8033 139.473 34.4508C138.839 34.0882 138.34 33.5796 137.978 32.925C137.625 32.2704 137.449 31.515 137.449 30.659C137.449 29.7928 137.625 29.0324 137.978 28.3778C138.33 27.7232 138.824 27.2196 139.458 26.8671C140.093 26.5146 140.823 26.3383 141.649 26.3383C142.444 26.3383 143.154 26.5096 143.779 26.852C144.413 27.1944 144.902 27.6829 145.244 28.3174C145.597 28.9418 145.773 29.6619 145.773 30.4777ZM143.582 29.8734C143.572 29.3295 143.376 28.8965 142.993 28.5742C142.611 28.2418 142.142 28.0757 141.588 28.0757C141.065 28.0757 140.622 28.2368 140.259 28.5591C139.906 28.8713 139.69 29.3094 139.609 29.8734H143.582Z" fill="#283551"></path>
                    <path d="M149.432 27.7735C149.704 27.3304 150.056 26.9829 150.489 26.7311C150.932 26.4793 151.436 26.3535 152 26.3535V28.5742H151.441C150.776 28.5742 150.273 28.7303 149.93 29.0425C149.598 29.3547 149.432 29.8986 149.432 30.6741V34.8436H147.317V26.4743H149.432V27.7735Z" fill="#283551"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.3814 16.8028C32.2984 17.8818 32.8694 18.8519 35.5991 20.5698C38.6284 22.4756 42.2533 26.0633 43.4185 28.3085C44.6256 30.6339 44.4809 32.7512 43.0108 34.2803C41.2754 36.0845 38.5182 37.0678 36.2084 36.7062C33.6273 36.3016 30.0631 33.826 28.5602 31.3933C26.4808 28.0279 25.9848 27.462 24.8729 27.1839C23.0953 26.7394 21.5253 27.7292 20.0143 30.246C19.2396 31.5362 18.4611 32.5916 18.2837 32.5916C18.1063 32.5916 17.7153 31.1324 17.4143 29.3493C16.8893 26.2357 14.6506 21.0306 13.7024 20.7187C13.4276 20.6286 13.3217 22.2465 13.41 25.1902C13.4914 27.9159 13.2739 31.6155 12.8778 34.234C12.2818 38.1756 12.2792 38.8025 12.8519 39.906C14.5459 43.1706 17.7889 42.6343 22.5627 38.3005L23.6724 37.2935L24.5004 38.216C26.9218 40.9125 31.9996 42.8908 36.4848 42.8844C40.086 42.8797 42.9432 41.7474 45.7667 39.2054C50.7553 34.715 50.5069 29.0057 45.0678 23.1526L42.7761 20.686L48.9089 20.4702C52.2814 20.351 56.107 19.991 57.4096 19.6696C59.7345 19.0956 59.6285 19.0801 51.5963 18.8115C44.0391 18.5588 40.4736 18.0869 35.882 16.732C34.0071 16.1785 34.0079 16.1785 33.3814 16.8028Z" fill="white"></path>
                 </svg>
                </a>
                <div class="sm:hidden">
                    <button type="button" class="inline-flex items-center cursor-pointer disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-large-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                           <path d="M8.27323 3.5C5.64209 3.5 3.5 5.64213 3.5 8.27323C3.5 10.9043 5.64213 13.0465 8.27323 13.0465C10.9043 13.0465 13.0465 10.9043 13.0465 8.27323C13.0465 5.64213 10.9043 3.5 8.27323 3.5ZM8.27323 11.1837C6.66659 11.1837 5.36272 9.87987 5.36272 8.27323C5.36272 6.66659 6.66659 5.36272 8.27323 5.36272C9.87987 5.36272 11.1837 6.66659 11.1837 8.27323C11.1837 9.87987 9.87987 11.1837 8.27323 11.1837Z" fill="#393939"/>
                           <path d="M19.7268 3.5C17.0957 3.5 14.9536 5.64213 14.9536 8.27323C14.9536 10.9043 17.0957 13.0465 19.7268 13.0465C22.3579 13.0465 24.5001 10.9043 24.5001 8.27323C24.5001 5.64213 22.3579 3.5 19.7268 3.5ZM19.7268 11.1837C18.1202 11.1837 16.8163 9.87987 16.8163 8.27323C16.8163 6.66659 18.1202 5.36272 19.7268 5.36272C21.3335 5.36272 22.6374 6.66659 22.6374 8.27323C22.6374 9.87987 21.3335 11.1837 19.7268 11.1837Z" fill="#393939"/>
                           <path d="M8.27323 14.9535C5.64209 14.9535 3.5 17.0957 3.5 19.7268C3.5 22.3579 5.64213 24.5 8.27323 24.5C10.9043 24.5 13.0465 22.3579 13.0465 19.7268C13.0465 17.0957 10.9043 14.9535 8.27323 14.9535ZM8.27323 22.6373C6.66659 22.6373 5.36272 21.3334 5.36272 19.7268C5.36272 18.1201 6.66659 16.8163 8.27323 16.8163C9.87987 16.8163 11.1837 18.1201 11.1837 19.7268C11.1837 21.3334 9.87987 22.6373 8.27323 22.6373Z" fill="#393939"/>
                           <path d="M19.7268 14.9535C17.0957 14.9535 14.9536 17.0957 14.9536 19.7268C14.9536 22.3579 17.0957 24.5 19.7268 24.5C22.3579 24.5 24.5001 22.3579 24.5001 19.7268C24.5001 17.0957 22.3579 14.9535 19.7268 14.9535ZM19.7268 22.6373C18.1202 22.6373 16.8163 21.3334 16.8163 19.7268C16.8163 18.1201 18.1202 16.8163 19.7268 16.8163C21.3335 16.8163 22.6374 18.1201 22.6374 19.7268C22.6374 21.3334 21.3335 22.6373 19.7268 22.6373Z" fill="#393939"/>
                        </svg>
                     </button>
                </div>
            </div>
            <div id="navbar-hover-event" class="hidden overflow-hidden transition-all duration-300 hs-collapse basis-full grow sm:block">
                <div class="flex flex-col justify-between gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
                    <a class="text-base font-normal text-blue-500" href="#" aria-current="page">Word Lists</a>
                    <a href="javascript:void(0);" class="text-base font-normal text-[#393939] sm:py-4 hover:text-blue-500">
                 Word Finders
                 </a>
                    <button type="button" class="inline-flex items-center cursor-pointer disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-large-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                       <path d="M8.27323 3.5C5.64209 3.5 3.5 5.64213 3.5 8.27323C3.5 10.9043 5.64213 13.0465 8.27323 13.0465C10.9043 13.0465 13.0465 10.9043 13.0465 8.27323C13.0465 5.64213 10.9043 3.5 8.27323 3.5ZM8.27323 11.1837C6.66659 11.1837 5.36272 9.87987 5.36272 8.27323C5.36272 6.66659 6.66659 5.36272 8.27323 5.36272C9.87987 5.36272 11.1837 6.66659 11.1837 8.27323C11.1837 9.87987 9.87987 11.1837 8.27323 11.1837Z" fill="#393939"/>
                       <path d="M19.7268 3.5C17.0957 3.5 14.9536 5.64213 14.9536 8.27323C14.9536 10.9043 17.0957 13.0465 19.7268 13.0465C22.3579 13.0465 24.5001 10.9043 24.5001 8.27323C24.5001 5.64213 22.3579 3.5 19.7268 3.5ZM19.7268 11.1837C18.1202 11.1837 16.8163 9.87987 16.8163 8.27323C16.8163 6.66659 18.1202 5.36272 19.7268 5.36272C21.3335 5.36272 22.6374 6.66659 22.6374 8.27323C22.6374 9.87987 21.3335 11.1837 19.7268 11.1837Z" fill="#393939"/>
                       <path d="M8.27323 14.9535C5.64209 14.9535 3.5 17.0957 3.5 19.7268C3.5 22.3579 5.64213 24.5 8.27323 24.5C10.9043 24.5 13.0465 22.3579 13.0465 19.7268C13.0465 17.0957 10.9043 14.9535 8.27323 14.9535ZM8.27323 22.6373C6.66659 22.6373 5.36272 21.3334 5.36272 19.7268C5.36272 18.1201 6.66659 16.8163 8.27323 16.8163C9.87987 16.8163 11.1837 18.1201 11.1837 19.7268C11.1837 21.3334 9.87987 22.6373 8.27323 22.6373Z" fill="#393939"/>
                       <path d="M19.7268 14.9535C17.0957 14.9535 14.9536 17.0957 14.9536 19.7268C14.9536 22.3579 17.0957 24.5 19.7268 24.5C22.3579 24.5 24.5001 22.3579 24.5001 19.7268C24.5001 17.0957 22.3579 14.9535 19.7268 14.9535ZM19.7268 22.6373C18.1202 22.6373 16.8163 21.3334 16.8163 19.7268C16.8163 18.1201 18.1202 16.8163 19.7268 16.8163C21.3335 16.8163 22.6374 18.1201 22.6374 19.7268C22.6374 21.3334 21.3335 22.6373 19.7268 22.6373Z" fill="#393939"/>
                    </svg>
                 </button>

                </div>
            </div>

            <!-- mega menu start here -->
            <div id="hs-large-modal" class="hs-overlay hidden w-full h-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
                <div class="m-3 mt-0 transition-all ease-out opacity-0 hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 lg:max-w-7xl lg:w-full lg:mx-auto">
                    <div class="relative p-5">
                        <button type="button" class="absolute top-0 z-50 right-5" data-hs-overlay="#hs-small-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M15.5978 14L24.1196 5.44017C24.5761 4.98372 24.5761 4.26088 24.1196 3.84233C23.6632 3.38589 22.9403 3.38589 22.5218 3.84233L14 12.4022L5.44017 3.84233C4.98373 3.38589 4.26088 3.38589 3.84233 3.84233C3.38589 4.29878 3.38589 5.02162 3.84233 5.44017L12.3641 14L3.84233 22.5598C3.38589 23.0163 3.38589 23.7391 3.84233 24.1577C4.07055 24.3859 4.37493 24.5 4.64139 24.5C4.90784 24.5 5.21193 24.3859 5.44044 24.1577L14.0003 15.5978L22.5601 24.1577C22.7883 24.3859 23.0927 24.5 23.3592 24.5C23.6256 24.5 23.9297 24.3859 24.1582 24.1577C24.6147 23.7012 24.6147 22.9784 24.1582 22.5598L15.5978 14Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-col bg-white border shadow-sm pointer-events-auto rounded-xl">
                        <div class="px-8 py-12 overflow-y-auto md:px-16">
                            <div class="grid gap-4 md:grid-cols-4">
                                <div class="sm:col-span-2">
                                    <span class="block text-xl pb-6 font-semibold text-[#007BFF]">Word Lists</span>
                                    <div class="grid space-y-3 sm:space-y-0 sm:space-x-4 sm:grid-cols-2">
                                        <ul class="space-y-2 text-base font-normal">
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="5-letter-words.html">
                                                    5 Letter Words
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="words-with-X-and-Q.html">
                                                    Words with X and Q
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Scramble
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Anagram Solver
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Unscrambler
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Words With Friends Cheat
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Scrabble Word Finder
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Finder
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Wordle
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Chums
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Anagramme Expert
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Nyt Spelling Bee Answers
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Crossword Solver
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Scrabble Go Word Finder
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Wordscapes Answers
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="space-y-2 text-base font-normal">
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    4 Pics 1 Word
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Text Twist
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Cody Cross
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Cookies Answers
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Wordfeud
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Apalabrados Trucos
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Solver
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Scrabble Cheat
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Generator
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Jumble Solver
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="sm:col-span-1">
                                    <div class="flex flex-col">
                                        <span class="block text-xl pb-6 font-semibold text-[#007BFF]">Dictionary</span>
                                        <ul class="space-y-2 text-base font-normal">
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Dictionary
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Words With Friends Dictionary
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Scrabble Dictionary
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="flex flex-col">
                                        <span class="block text-xl pb-6 pt-10 font-semibold text-[#007BFF]">List of Words</span>
                                        <ul class="space-y-2 text-base font-normal">
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    All Consonant Words
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Vowel Words
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Words By Length
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Words Ending In
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Words Start With
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Words With Letters
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="sm:col-span-1">
                                    <div class="flex flex-col">
                                        <span class="block text-xl pb-6 font-semibold text-[#007BFF]">Tool</span>
                                        <ul class="space-y-2 text-base font-normal">
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Password Generator
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Username Generator
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Random Word Generator
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Counter
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="flex flex-col">
                                        <span class="block text-xl pb-6 pt-4 font-semibold text-[#007BFF]">Games</span>
                                        <ul class="space-y-2 text-base font-normal">

                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Scramble Words
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Codeword
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Outspell
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Crossword Puzzles
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:text-[#007BFF]" href="javascript:void(0);">
                                                    Word Wipe
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Col -->

                                <!-- End Col -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mega menu end here -->
        </div>
    </nav>
</header>