<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Word Finder</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo-sm.svg">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/frontend/custom.css" rel="stylesheet">
</head>
