<%- (include('../frontend/head/head.ejs')) %>
<body class="font-custom">
    <!-- header start here -->
    <%- (include('../frontend/head/header.ejs')) %>
    <!-- header end here -->

    <!-- banner section start -->
    <section class="bg-[#DBF4FF] sm:h-80 h-60 flex items-center align-middle">
        <div class="container">
            <div class="w-full h-full text-center">
                <h1 class="text-5xl font-semibold sm:text-4xl">Terms Of Use</h1>
                <p class="mt-3 text-black opacity-50">Last updated on January 01, 2022</p>
            </div>
        </div>
    </section>
    <!-- banner section end -->

    <!-- content section start -->
    <div class="pt-10 pb-10 bg-white md:pt-20 md:pb-12">
        <div class="container">

            <h2 class="text-2xl sm:text-4xl font-semibold text-[#393939] mb-6">1. Who are we?</h2>

            <p>We actually want you to read carefully our privacy policy. to ensure that you are fully informed. Having said that, if you have any question, please, contact with us:</p>

            <address class="mt-6 not-italic">
                <p>Controller: <b>CLIQPOD S.L.</b>  </p>
                <p>C/Arago 383, Planta 10, 08012, Barcelona, Spain</p>
                <p>NIF: B-67255703</p>
                <p>Email: <a href="mailto:contact@cliqpod.io" class="text-[#007BFF]">contact@cliqpod.io</a> </p>
            </address>

            <h2 class="text-2xl sm:text-4xl font-semibold text-[#393939] my-6">2. For What Purposes Do We Process Your Data?</h2>

            <p>
                The collecting of your personal data is performed solely and exclusively for the following specific purposes. Whenever we process your personal data for the aforementioned purposes, we will need a legal ground.
                <br>
                <br> The <a href="javascript:void(0);" class="text-[#007BFF]">General Data Protection Regulation</a> (GDPR) mentions several legal grounds for the lawfulness of processing personal data. A lawful basis for processing personal data consists
                of at least one of these 5 legal grounds and can vary per personal data processing activity and purpose.
            </p>

            <ul class="my-6 space-y-2 list-disc ps-10">
                <li>
                    To create statistical reports with respect to the habits of access and the activity of the users of the Web Site, pursuant our cookies policy -> <b>Lawful basis:</b> Legitimate interest
                </li>
                <li>
                    To resolve queries and suggestions -> <b>Lawful basis:</b> Legitimate interest
                </li>
                <li>
                    To comply with legal obligations –> <b>Lawful basis:</b> Legal obligation
                </li>
            </ul>

            <p>
                Please, note that this privacy policy is subject to change from time to time. We recommend you to check it out, on a regular basis, so that you are always aware of the information we process.
            </p>

            <h2 class="text-2xl sm:text-4xl font-semibold text-[#393939] my-6">3. We Share Your Data?</h2>

            <p>
                Personal data may be shared with third parties to provide you with our services. We do our best to ensure these companies guarantee at least the same level of privacy protection as we provide.
                <br>
                <br> Furthermore, we may be obliged to communicate personal data to third parties such as Public Authorities.
            </p>

            <h2 class="text-2xl sm:text-4xl font-semibold text-[#393939] my-6">4. International Transfers</h2>

            <p>
                Some of these entities are located outside the European Economic Area (EEA) (Iceland, Lichtenstein and Norwegian).
                <br>
                <br> In the case of The United States entities, which are listed under the EU-US Privacy Shield, the transfer of personal data to such entities by EU-based data controllers will be deemed adequate, without requiring the inclusion of additional
                safeguards, such as the use of EU Standard Contractual Clauses which are normally necessary to guarantee an adequate data protection level for international data transfers.
            </p>

            <h2 class="text-2xl sm:text-4xl font-semibold text-[#393939] my-6">5. Deadline For The Storage Of Your Data</h2>

            <p>
                We shall store your personal data as long as it is deemed necessary and depending on the type of data:
                <br>
                <br> Furthermore, we have implemented a variety of security measures to maintain safety your information. For example, we use encryption technology to protect your personal data.
            </p>

            <h2 class="text-2xl sm:text-4xl font-semibold text-[#393939] my-6">6. What Are Your Rights As a Data Subject?</h2>

            <p>
                The user may, at any time and free of charge, exercise his or her rights, according with the GDPR. We will be pleased to answer your requests.
                <br>
                <br> Can I ask about the specific personal data processed? <b>(Right of access)</b>
                <br>
                <br> Sure. Notwithstanding the data protection information provided above, you have the right to be told how we use your information and obtain access to your information.
                <br>
                <br> Can I ask to erasure my personal data? <b>(Right of delete)</b>
                <br>
                <br> In the case that you don’t want us to process your personal data anymore, you may request your personal data to be deleted. We will immediately delete your personal data and we will keep a copy that we will not use except if it is
                required by an Authority.
                <br>
                <br> Can I ask to rectify incomplete or inaccurate data? <b>(Right to rectification)</b>
                <br>
                <br> You can modify your personal data if it is inaccurate.
                <br>
                <br> Can I ask to withdraw the provided consent or object to a processing? <b>(Right to object)</b>
                <br>
                <br> You can do it seamlessly if you contact us via our contact addresses. This right will be granted from the time we receive your request.
                <br>
                <br> Can I ask for Data portability, right? <b>(Right to data portability)</b>
                <br>
                <br> The GDPR introduces the right to data portability. Because of the nature of services, we offer, we think you will not need to use this right. Still, if you need to use it sometime, you can contact us and we will go further on this
                matter.
            </p>

            <br>
            <br>

            <p>
                CONTACT WITH THE SPANISH DATA PROTECTION AGENCY:
                <br> Spanish Data Protection Agency: Calle de Jorge Juan 6, CP 28001, Madrid, Spain (www.aepd.es)
                <br> Last update: April 2020
            </p>

            <h4 class="text-[#393939] font-semibold text-[22px] mt-6 mb-4">Contact</h4>

            <p>Email: <a href="mailto:contact@cliqpod.io" class="text-[#007BFF]">contact@cliqpod.io</a> </p>

            <h4 class="text-[#393939] font-semibold text-[22px] mt-6 mb-4">Contact with The Spanish Data Protection Agency:</h4>

            <p>Spanish Data Protection Agency: Calle de Jorge Juan 6, CP 28001, Madrid, Spain (<a href="mailto:contact@cliqpod.io" class="text-[#007BFF]">www.aepd.es</a>)</p>

            <strong class="font-medium my-2 block">Last update: April 2020</strong>

            <p>
                CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world)
                that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with
                whom it is being shared. For more information regarding your current opt-ins, click or see more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
            </p>
        </div>
    </div>
    <!-- content section end -->

    <!-- footer start  -->
    <%- (include('../frontend/footer/footer.ejs')) %>
<!-- footer end  -->

<%- (include('../frontend/script/script.ejs')) %>