<!-- views/section/tags.ejs -->
<%- include('../header/head.ejs') %>

    <body>
        <!-- sidebar start here -->
        <div class="flex overflow-hidden">
            <!-- sidenav Menu Start  -->
            <%- include('../sidenav/sidenav.ejs') %>

                <div class="page-content bg-white">
                    <!-- header Start -->
                    <%- include('../header/header.ejs') %>

                        <!-- main content start here -->
            <main class="py-8 px-5">
                <div class="mb-6">
                    <h1 class="text-2xl font-bold text-black">
                        Tags
                    </h1>
                </div>

                <div class="flex flex-col md:flex-row gap-6 justify-between">
                    <div class="add-category-sec w-full md:w-1/3">
                        <h2 class="text-xl font-normal text-black mb-6">Add New Tag</h2>
                        <form id="add_category">
                            <div class="form-group mb-6">
                                <label class="mb-3" for="tagName">Name</label>
                                <input name="tagName" id="tagName" type="text" value="" class="form-input bg-[#F0F7FA] border-0 mb-3">
                                <p id="tagName-description">The name is how it appears on your site.</p>
                            </div>
                            <div class="form-group mb-6">
                                <label class="mb-3" for="tagslug">Slug</label>
                                <input name="tagslug" id="tagslug" type="text" value="" class="form-input bg-[#F0F7FA] border-0 mb-3">
                                <p id="tagslug-description">The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</p>
                            </div>
                            <div class="form-group mb-6">
                                <label class="mb-3" for="tagDescription">Description</label>
                                <textarea id="tagDescription" class="form-input bg-[#F0F7FA] border-0 mb-3"></textarea>
                                <p id="tagDescription">The description is not prominent by default; however, some themes may show it.</p>
                            </div>
                            <button type="submit" class="py-2 px-4 text-white bg-[#007BFF] rounded-lg">
                                Add New Tag
                            </button>
                        </form>
                    </div>
                    <!-- table start here -->
                    <div class="bg-white overflow-x-auto w-full md:w-2/3">
                        <table class="w-full divide-y divide-gray-200 border" id="example">
                            <thead class="text-left bg-[#DBF4FF]">
                                <tr>
                                    <th>
                                        <input type="checkbox" class="selectAll">
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Slug
                                    </th>
                                    <th>
                                        Count
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                                <tr class="">
                                    <td>
                                        <input type="checkbox" value="2" class="">
                                    </td>
                                    <td>
                                        <div class="">
                                            <strong><a class="row-title text-[#2271b1] text-sm" href="javascript:void(0)">Uncategorized</a></strong>
                                        </div>
                                        <div class="row-actions mt-1"><span class="edit"><a href="edit-tags.html" class="text-[#2271b1] text-xs">Edit</a> | </span>
                                            <span class="trash"><a href="javascript:void(0)" class="trash text-[#b32d2e] text-xs">Delete</a> | </span>
                                            <span class="view"><a href="javascript:void(0)" class="text-[#2271b1] text-xs">View</a></span>
                                        </div>
                                    </td>
                                    <td>-</td>
                                    <td>Uncategorized</td>
                                    <td><a class="row-title text-[#2271b1] text-sm" href="javascript:void(0)">1</a></td>
                                </tr>
                            </tbody>
                            <tfoot class="text-left bg-[#DBF4FF]">
                                <tr>
                                    <th>
                                        <input type="checkbox" class="selectAll">
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Slug
                                    </th>
                                    <th>
                                        Count
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- table end here -->
                </div>

            </main>

            <!-- main content end here -->
        </div>
    </div>
    <!-- sidebar end here -->
    <%- include('../script/script.ejs') %>
</body>

</html>