<!-- show-section.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 8px;
        }

        h2 {
            color: #333;
        }

        p {
            margin: 10px 0;
            color: #666;
        }

        ul.sub-descriptions {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
        }

        ul.sub-descriptions li {
            margin-bottom: 5px;
        }

        a.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        a.button:hover {
            background-color: #0056b3;
        }
    </style>
    <title>Show Sections</title>
</head>
<body>
    <h1>All Pages</h1>

    <% if (sections.length > 0) { %>
        <ul>
            <% sections.forEach((section) => { %>
                <li>
                    <h2><%- parser.parse(section.title).toString() %></h2>                    
                    <p>Description: <%- parser.parse(section.mainDescription).toString() %></p>
                    <p>Sub Descriptions:</p>
                    <ul class="sub-descriptions">
                        <% section.subDescriptions.forEach((subDesc) => { %>
                            <li><%- parser.parse(subDesc.subDescription.trim()).toString() %></li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No sections found.</p>
    <% } %>

    <br>
</body>
</html>
