<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="shortcut icon" href="/images/logo-sm.svg">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link href="/styles/app.css" rel="stylesheet" type="text/css">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/select2.min.css">
    <link rel="stylesheet" href="/admin/node_modules/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_style.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/toastify-js/src/toastify.min.css">
    
    <!-- <link href="/styles/tailwind.css" rel="stylesheet">  -->
    <title>Word Finder Admin Dashboard</title>
</head>