<div class="w-full md:w-2/3">
    <!-- box 1 start -->
    <div class="border border-[#007BFF4D] rounded-[20px] md:p-[40px] p-[30px] mb-8">
        <h2 class="mb-4 text-4xl font-semibold">Scrabble Dictionary - Online Word Checker</h2>
        <p>
            Word Finder is the perfect help when your vocabulary fails you. It's a unique word search tool, which finds all possible words made up of the letters you input. People use Word Finder for various reasons, but the primary one is to win games such as
            <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a> and <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words With Friends</a>.
        </p>
        <div class="my-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="209" height="71" viewBox="0 0 209 71" fill="none">
                <rect width="71" height="71" rx="35.5" fill="#007BFF"/>
                <path d="M102.522 33.3983L98.4734 47.8916H95.0474L92.3273 37.5719L89.4826 47.8916L86.0772 47.9124L82.1736 33.3983H85.2882L87.8422 44.6524L90.7907 33.3983H94.0299L96.8123 44.5901L99.3871 33.3983H102.522Z" fill="#283551"/>
                <path d="M109.529 48.0785C108.421 48.0785 107.424 47.8363 106.539 47.3518C105.653 46.8534 104.954 46.1544 104.441 45.2546C103.943 44.3548 103.694 43.3166 103.694 42.14C103.694 40.9633 103.95 39.9251 104.462 39.0254C104.988 38.1256 105.701 37.4334 106.601 36.9489C107.501 36.4506 108.504 36.2014 109.612 36.2014C110.719 36.2014 111.723 36.4506 112.622 36.9489C113.522 37.4334 114.228 38.1256 114.74 39.0254C115.266 39.9251 115.529 40.9633 115.529 42.14C115.529 43.3166 115.259 44.3548 114.72 45.2546C114.194 46.1544 113.474 46.8534 112.56 47.3518C111.66 47.8363 110.65 48.0785 109.529 48.0785ZM109.529 45.5453C110.055 45.5453 110.546 45.4207 111.003 45.1715C111.473 44.9085 111.847 44.5209 112.124 44.0087C112.401 43.4966 112.539 42.8736 112.539 42.14C112.539 41.0464 112.249 40.2089 111.667 39.6275C111.1 39.0323 110.401 38.7347 109.57 38.7347C108.74 38.7347 108.04 39.0323 107.473 39.6275C106.919 40.2089 106.642 41.0464 106.642 42.14C106.642 43.2336 106.912 44.078 107.452 44.6732C108.006 45.2546 108.698 45.5453 109.529 45.5453Z" fill="#283551"/>
                <path d="M120.569 38.174C120.943 37.5649 121.427 37.0874 122.022 36.7413C122.631 36.3952 123.323 36.2222 124.099 36.2222V39.2745H123.33C122.417 39.2745 121.725 39.4891 121.254 39.9182C120.797 40.3473 120.569 41.0948 120.569 42.1607V47.8916H117.662V36.3883H120.569V38.174Z" fill="#283551"/>
                <path d="M125.309 42.0984C125.309 40.9357 125.538 39.9044 125.994 39.0046C126.465 38.1048 127.102 37.4127 127.905 36.9282C128.708 36.4437 129.6 36.2014 130.583 36.2014C131.331 36.2014 132.044 36.3675 132.722 36.6998C133.4 37.0181 133.94 37.4473 134.342 37.9871V32.5262H137.29V47.8916H134.342V46.189C133.982 46.7565 133.476 47.2133 132.826 47.5594C132.175 47.9055 131.421 48.0785 130.562 48.0785C129.593 48.0785 128.708 47.8294 127.905 47.331C127.102 46.8327 126.465 46.1336 125.994 45.2338C125.538 44.3202 125.309 43.2751 125.309 42.0984ZM134.362 42.14C134.362 41.434 134.224 40.8318 133.947 40.3335C133.67 39.8213 133.296 39.4337 132.826 39.1707C132.355 38.8938 131.85 38.7554 131.31 38.7554C130.77 38.7554 130.272 38.8869 129.815 39.1499C129.358 39.4129 128.984 39.8005 128.694 40.3127C128.417 40.8111 128.278 41.4063 128.278 42.0984C128.278 42.7906 128.417 43.3997 128.694 43.9257C128.984 44.4379 129.358 44.8324 129.815 45.1092C130.286 45.3861 130.784 45.5245 131.31 45.5245C131.85 45.5245 132.355 45.393 132.826 45.13C133.296 44.8532 133.67 44.4656 133.947 43.9672C134.224 43.455 134.362 42.846 134.362 42.14Z" fill="#283551"/>
                <path d="M154.026 33.3983V35.7446H147.984V39.4614H152.614V41.7662H147.984V47.8916H145.077V33.3983H154.026Z" fill="#283551"/>
                <path d="M157.562 35.0179C157.05 35.0179 156.621 34.8587 156.275 34.5403C155.942 34.2081 155.776 33.7997 155.776 33.3152C155.776 32.8307 155.942 32.4293 156.275 32.1109C156.621 31.7787 157.05 31.6125 157.562 31.6125C158.074 31.6125 158.496 31.7787 158.829 32.1109C159.175 32.4293 159.348 32.8307 159.348 33.3152C159.348 33.7997 159.175 34.2081 158.829 34.5403C158.496 34.8587 158.074 35.0179 157.562 35.0179ZM158.995 36.3883V47.8916H156.088V36.3883H158.995Z" fill="#283551"/>
                <path d="M168.241 36.2222C169.612 36.2222 170.719 36.6582 171.564 37.5303C172.408 38.3886 172.83 39.5929 172.83 41.1433V47.8916H169.923V41.5378C169.923 40.6242 169.695 39.9251 169.238 39.4406C168.781 38.9423 168.158 38.6931 167.369 38.6931C166.566 38.6931 165.93 38.9423 165.459 39.4406C165.002 39.9251 164.774 40.6242 164.774 41.5378V47.8916H161.867V36.3883H164.774V37.821C165.161 37.3227 165.653 36.9351 166.248 36.6582C166.857 36.3675 167.521 36.2222 168.241 36.2222Z" fill="#283551"/>
                <path d="M174.847 42.0984C174.847 40.9357 175.075 39.9044 175.532 39.0046C176.003 38.1048 176.64 37.4127 177.443 36.9282C178.245 36.4437 179.138 36.2014 180.121 36.2014C180.869 36.2014 181.582 36.3675 182.26 36.6998C182.938 37.0181 183.478 37.4473 183.879 37.9871V32.5262H186.828V47.8916H183.879V46.189C183.52 46.7565 183.014 47.2133 182.364 47.5594C181.713 47.9055 180.959 48.0785 180.1 48.0785C179.131 48.0785 178.245 47.8294 177.443 47.331C176.64 46.8327 176.003 46.1336 175.532 45.2338C175.075 44.3202 174.847 43.2751 174.847 42.0984ZM183.9 42.14C183.9 41.434 183.762 40.8318 183.485 40.3335C183.208 39.8213 182.834 39.4337 182.364 39.1707C181.893 38.8938 181.388 38.7554 180.848 38.7554C180.308 38.7554 179.81 38.8869 179.353 39.1499C178.896 39.4129 178.522 39.8005 178.232 40.3127C177.955 40.8111 177.816 41.4063 177.816 42.0984C177.816 42.7906 177.955 43.3997 178.232 43.9257C178.522 44.4379 178.896 44.8324 179.353 45.1092C179.824 45.3861 180.322 45.5245 180.848 45.5245C181.388 45.5245 181.893 45.393 182.364 45.13C182.834 44.8532 183.208 44.4656 183.485 43.9672C183.762 43.455 183.9 42.846 183.9 42.14Z" fill="#283551"/>
                <path d="M200.361 41.8908C200.361 42.3061 200.333 42.6798 200.278 43.0121H191.868C191.937 43.8426 192.228 44.4932 192.74 44.9639C193.252 45.4346 193.882 45.6699 194.63 45.6699C195.71 45.6699 196.478 45.2061 196.935 44.2787H200.07C199.738 45.3861 199.101 46.2997 198.16 47.0196C197.218 47.7255 196.063 48.0785 194.692 48.0785C193.585 48.0785 192.588 47.8363 191.702 47.3518C190.83 46.8534 190.145 46.1544 189.646 45.2546C189.162 44.3548 188.92 43.3166 188.92 42.14C188.92 40.9495 189.162 39.9044 189.646 39.0046C190.131 38.1048 190.809 37.4127 191.681 36.9282C192.553 36.4437 193.557 36.2014 194.692 36.2014C195.786 36.2014 196.762 36.4368 197.62 36.9074C198.492 37.3781 199.163 38.0494 199.634 38.9215C200.118 39.7798 200.361 40.7695 200.361 41.8908ZM197.35 41.0602C197.336 40.3127 197.066 39.7175 196.54 39.2745C196.014 38.8177 195.37 38.5893 194.609 38.5893C193.889 38.5893 193.28 38.8108 192.782 39.2538C192.297 39.6829 192 40.285 191.889 41.0602H197.35Z" fill="#283551"/>
                <path d="M205.39 38.174C205.763 37.5649 206.248 37.0874 206.843 36.7413C207.452 36.3952 208.144 36.2222 208.919 36.2222V39.2745H208.151C207.238 39.2745 206.545 39.4891 206.075 39.9182C205.618 40.3473 205.39 41.0948 205.39 42.1607V47.8916H202.483V36.3883H205.39V38.174Z" fill="#283551"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M45.8822 23.095C44.3937 24.5781 45.1785 25.9114 48.9303 28.2726C53.0941 30.8921 58.0764 35.8232 59.678 38.9092C61.337 42.1054 61.1381 45.0157 59.1175 47.1174C56.7323 49.5971 52.9426 50.9487 49.7678 50.4516C46.2202 49.8955 41.3213 46.4929 39.2557 43.1492C36.3976 38.5235 35.7157 37.7457 34.1875 37.3636C31.7443 36.7526 29.5864 38.1131 27.5095 41.5723C26.4448 43.3456 25.3747 44.7963 25.1308 44.7963C24.887 44.7963 24.3496 42.7907 23.9358 40.3398C23.2144 36.0603 20.1372 28.9059 18.834 28.4772C18.4564 28.3534 18.3108 30.5772 18.4321 34.6232C18.544 38.3696 18.2451 43.4547 17.7005 47.0537C16.8814 52.4714 16.8778 53.3329 17.665 54.8497C19.9934 59.3368 24.4508 58.5996 31.0122 52.643L32.5374 51.2589L33.6756 52.5268C37.0036 56.2331 43.9829 58.9523 50.1478 58.9434C55.0975 58.9369 59.0246 57.3807 62.9054 53.8867C69.7622 47.7148 69.4207 39.8675 61.9448 31.8227L58.7949 28.4324L67.2243 28.1358C71.8597 27.9718 77.1179 27.4771 78.9083 27.0354C82.1037 26.2464 81.9581 26.2251 70.9181 25.856C60.5308 25.5086 55.6302 24.86 49.3191 22.9976C46.7422 22.2369 46.7434 22.2369 45.8822 23.095Z" fill="white"/>
            </svg>
        </div>

        <p>
            Are you someone who loves finding and discovering new words? Are you a board game enthusiast? If you are, then this Word Finder is a tool you can't afford not to have. Whether you are into playing <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a>,
            <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a> or any other word game, Word Finder will prove to be useful. It will help you both with word discovery, and as a reference tool, you and your playmates
            can use as a way to settle disputes about the validity of any particular word.
            <br />
            <br /> Do you love boosting your vocabulary? Do word games help ignite your brain cells? Do you enjoy the thrill of trying to outwit an opponent with your encyclopedic mind? Then, our <a href="javascript:void(0);" class="text-[#007BFF] font-medium">word generator</a>            is a tool that you simply can't live without!
        </p>

        <div class="flex flex-col gap-8 mt-8 lg:flex-row">
            <div class="w-full">
                <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                    Play Games
                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>
                </div>
                <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                    <ol class="space-y-3 font-medium list-decimal">
                        <li><a href="/word-wipe">Word Wipe</a></li>
                        <li><a href="/crossword-puzzles">Crossword Puzzles</a></li>
                        <li><a href="/outspell">Outspell</a></li>
                        <li><a href="/codeword">Codeword</a></li>
                        <li><a href="/scramble-word">Scramble Words</a></li>
                    </ol>
                </div>
            </div>

            <div class="w-full">
                <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                    Words by Length

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>
                </div>
                <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                    <ul class="space-y-3 font-medium">
                        <li><a href="/2-letter-words">2 Letter Words</a></li>
                        <li><a href="/3-letter-words">3 Letter Words</a></li>
                        <li><a href="/4-letter-words">4 Letter Words</a></li>
                        <li><a href="/5-letter-words">5 Letter Words</a></li>
                        <li><a href="/6-letter-words">6 Letter Words</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- box 2 start -->
    <div class="border border-[#007BFF4D] rounded-[20px] md:p-[40px] p-[30px] mb-8">
        <h2 class="mb-4 text-4xl font-semibold">What is WordTips Word Finder?</h2>
        <p>
            If you haven’t had a chance to use Word Finder yet, then you’re in for a treat. This easy to work with online <a href="javascript:void(0);" class="text-[#007BFF] font-medium">word generator</a> will quickly and efficiently create a wide variety
            of words using the letters that you enter. Your excitement will grow as you watch it unscrambling the inputs you provide to make words out of letters as an expert. It will make <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a>            words and create interesting and unique combinations of letters.
            <br />
            <br /> When compared with the range of online word generators, word find and <a href="javascript:void(0);" class="text-[#007BFF] font-medium">word solver</a> devices, Word Finder is among the most intuitive and simple to use. As you learn
            more about how using Word Finder can assist you in improving your language skills, spelling words properly and come up with new words from a <a href="javascript:void(0);" class="text-[#007BFF] font-medium">jumble</a> of letters, you’ll wonder
            how you ever managed without it.
        </p>

        <div class="flex flex-col gap-8 mt-8 lg:flex-row">
            <div class="w-full">
                <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                    Dictionaries

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>
                </div>
                <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                    <ol class="space-y-3 font-medium list-decimal">
                        <li>Scrabble Dictionary</li>
                        <li>Words With Friends Dictionary</li>
                    </ol>
                </div>
            </div>
            <div class="w-full">
                <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                    Word Finders

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>
                </div>
                <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                    <ol class="space-y-3 font-medium list-decimal">
                        <li>Word Finder</li>
                        <li>Scrabble Word Finder</li>
                        <li>Words With Friends Cheat</li>
                        <li>Word Unscrambler</li>
                        <li>Anagram Solver</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>

    <!-- box 3 start -->
    <div class="border border-[#007BFF4D] rounded-[20px] md:p-[40px] p-[30px] mb-8">
        <h2 class="mb-4 text-4xl font-semibold">How to Use a Word Finder</h2>
        <p>
            Once you’ve decided on the game you’re going to play and who is going to participate, set your board up and then, go online to make sure Word Finder is readily accessible. Take care that everyone can use the tool privately without disclosing to other
            players what letters or tiles they have.
            <br />
            <br /> When each person has her turn, first give them the time that they need to ask themselves: What words can I make with these letters? Providing players with the opportunity to come up on their own with word examples containing the vowels
            and consonants they have at the ready will strengthen their ability to play the game and acquire points on their own. Then, allow some time for the player to try to make works with their letters using Word Finder.
        </p>

        <div class="mt-8">
            <h2 class="mb-4 text-xl font-semibold">Latest Article</h2>
            <div class="grid gap-8 mb-8 md:grid-cols-2 lg:grid-cols-3">
                <% morePosts.forEach(post => { %>
                    <div class="w-full border border-[#007BFF4D] rounded-lg overflow-hidden  hover:text-[#007BFF]">
                        <a href="/articles/<%= post.title %>"><img src="<%= post.feature_img %>" alt="#" class="w-full" /></a>
                        <div class="p-4">
                            <h3 class="text-lg font-semibold leading-6">
                                <a href="/articles/<%= post.title %>" class="hover:text-[#007BFF]">
                                    <%= post.heading %>
                                </a>
                            </h3>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="mt-6 text-center">
                <a href="/articles" class="hs-collapse-toggle text-white bg-[#007BFF] rounded-[10px] py-4 px-6 hover:opacity-50 inline-block" id="hs-show-hide-collapse" data-hs-collapse="#hs-show-hide-collapse-heading2">
                    <span class="hs-collapse-open:hidden">View More</span>
                    <span class="hidden hs-collapse-open:block">View less</span>
                </a>
            </div>
        </div>
    </div>

    <!-- box 4 start -->
    <div class="border border-[#007BFF4D] rounded-[20px] md:p-[40px] p-[30px] mb-8">
        <h2 class="mb-4 text-4xl font-semibold">When You Need to Up Your Game With a Word Game Helper</h2>
        <p>
            A word game helper can be invaluable for playing any word game that you can think of. Whether you are playing <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a>, <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a>,
            <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Crossword Puzzles</a> or any other word game, Word tips' extensive search engine will help you make words from letters that you've randomly picked. Games will get interminable
            when players are stuck and can’t imagine where they can place the bunch of vowels and consonants that they have available on the board.
            <br />
            <br /> Maybe you have a regular evening game with your partner where a <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble word generator</a> has been indispensable. Also, you may be one of the many families that usually
            play word board games on holidays and at gatherings with friends. If the latter is the case, then there’s more than likely players of different skill levels and ages involved. This is where a word game helper can assist in leveling the playing
            field. What’s more, you may have someone in your midst who likes to cheat a bit. Whether it’s done to tease other players or innocently by someone inexperienced with the game, an invention like Word Finder can be used to find words with the
            letters on hand.
            <br/>
            <br/> By searching the official <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a> US, <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a> UK and playable <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a>            dictionaries, Word Finder will intuitively display your highest scoring option with the letters provided. Don't look at it as a <a href="javascript:void(0);" class="text-[#007BFF] font-medium">word cheat</a>, more of a reference tool you and
            your playmates can use to settle disputes about the validity of any particular word.

        </p>

        <div class="flex flex-col gap-8 mt-8 lg:flex-row">
            <div class="w-full">
                <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                    Tools

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>
                </div>
                <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                    <ol class="space-y-3 font-medium list-decimal">
                        <li>Word Counter</li>
                        <li>Random Word Generator</li>
                        <li>Username Generator</li>
                        <li>Password Generator</li>
                    </ol>
                </div>
            </div>

            <div class="w-full">
                <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                    Lists of Words

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>

                    <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                            </svg>
                </div>
                <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                    <ol class="space-y-3 font-medium list-decimal">
                        <li>Words With Letters</li>
                        <li>Words Start With</li>
                        <li>Words Ending In</li>
                        <li>Words By Length</li>
                        <li>Vowel Words</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>

    <!-- box 5 start -->
    <div class="p-2 pb-6 border border-[#007BFF4D] rounded-[20px] mb-8">
        <div class="overflow-y-auto overflow-hidden h-60 sm:h-80">
            <div class="md:pt-[20px] md:p-[40px] p-[30px]">
                <h2 class="mb-4 text-4xl font-semibold">Beat the Brain Freeze</h2>
                <p>
                    Everyone needs a helping hand from time to time. We've all had those moments when a seemingly random mixture of tiles appears, making you ask, 'How do I make words with these letters'? The problem is now solved.
                    <br>
                    <br> With WordTips, there's no excuse in having leftover tiles stopping you from reaching your full potential. We'll show you how to make the best of those lingering letters, be it by creating a surprising two-letter combo or an impressive
                    fifteen-letter giant!
                    <br>
                    <br> Be you a beginner or a pro, our intuitive database will always have the answer to your query. So, save the brain drain, frustration and arguments with fellow players, let our word finder be your constant companion.
                </p>
                <h4 class="text-[22px] font-medium my-4">Two Useful Word Finding Examples</h4>
                <ul class="space-y-5 list-decimal ps-5 text-black/[.54]">
                    <li>
                        <b>Player A has pulled the following letters in a game of</b> <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a> - SNEOHYT. They’re able to swiftly <a href="javascript:void(0);" class="text-[#007BFF] font-medium">unscramble</a>                        the letters to make the word TONE. However, Word Finder comes up with a much bigger choice, including STONEY, HONEY, ETHNOS, HONEST, HONEYS AND HONESTY. As you can see, by laying down letters for the word HONESTY, Player A has
                        a bonus of 50 points for using all seven tiles at once in addition to the regular score for the play!
                    </li>
                    <li>
                        <b>Player B is a child learning how to play <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a> and still growing their vocabulary.</b><br> the letters to make the word TONE. However, Word Finder
                        comes up with a much bigger choice, including STONEY, HONEY, ETHNOS, HONEST, HONEYS AND HONESTY. As you can see, by laying down letters for the word HONESTY, Player A has a bonus of 50 points for using all seven tiles at once in
                        addition to the regular score for the play!
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- box 6 start -->
    <div class="p-2 pb-6 border border-[#007BFF4D] rounded-[20px] mb-8">
        <div class="overflow-y-auto overflow-hidden h-60 sm:h-80">
            <div class="md:pt-[20px] md:p-[40px] p-[30px]">
                <h2 class="mb-4 text-4xl font-semibold">Scrabble Words vs. Traditional Dictionaries</h2>
                <p>
                    The two traditional English-language dictionaries are the Merriam-Webster dictionary used in the United States and the Oxford English Dictionary published in the United Kingdom. Dictionaries typically add new words each year. For instance, in 2018, the
                    Merriam-Webster dictionary added 840 new words while the Oxford English dictionary expanded by 1,100 words. Having said that, word games rely on their own dictionaries that are tailored to the specific game and updated from time to
                    time.
                    <br>
                    <br> Therefore, it’s critical to know what dictionary to refer to when you’re playing different word games so that you don’t inadvertently cheat! If you’ve played both <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a>                    and <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a>, you’ll be aware that they have quite different rules when it comes to what words are acceptable for players to use. One example is that
                    <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a> allows players to lay down tiles that spell many acronyms while <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a> doesn’t
                    permit such abbreviations. By using the <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble Word Finder</a> or <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a> Cheat, you
                    can be certain that you won’t go wrong!
                </p>
                <h4 class="text-[22px] font-medium my-4">The Wordfinder Example</h4>
                <p>
                    Let’s take the word “wordfinder”. It is accepted in some online dictionaries and defined as “a list of vocabulary”, but not recognized by Meriam-Webster. It is acceptable when playing <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Words with Friends</a>                    but not when playing <a href="javascript:void(0);" class="text-[#007BFF] font-medium">Scrabble</a>.
                </p>
            </div>
        </div>
    </div>

</div>