<div class="mb-6">
    <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
        Frequent Searches

        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                    <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                </svg>

        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                    <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                </svg>
    </div>
    <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
        <ol class="space-y-3 font-medium list-decimal ps-7 listing">
            <li>5 Letter Word With Y</li>
            <li>Words That End In El</li>
            <li>Words That End In Em</li>
            <li>Words That End In Oo</li>
            <li>Ax Words</li>
            <li>Ho Words</li>
            <li>Words Beginning With Ib</li>
            <li>Words That Start With Pro</li>
            <li>Word With B</li>
            <li>Words With C In Them</li>
            <li>Words With J And C</li>
            <li>Words With Q And L</li>
            <li>Words With Q And R</li>
            <li>Words With F And V</li>
            <li>Words With W And M</li>
        </ol>
    </div>
</div>