<% if (morePosts && morePosts.length > 0) { %>
<div class="mb-6">
    <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
        Latest Article

        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                    <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                </svg>

        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                    <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                </svg>
    </div>
    <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px] ">
        <% if (morePosts) { %>
            <% morePosts.forEach(post => { %>
            <div class="border border-[#007BFF4D] rounded-[20px] bg-white mb-6 overflow-hidden hover:text-[#007BFF]">
            <a href="/articles/<%= post.title %>"><img src="<%= post.feature_img %>" alt="# " class="w-full "></a>
            <div class="p-4 ">
                <h3 class="text-lg font-semibold leading-6 "><a href="/articles/<%= post.title %>" class="hover:text-[#007BFF]"><%= post.heading %></a></h3>
            </div>
        </div>
        <% }); %>
        <% } %>
        <div class="mt-6 text-center">
            <a href="/articles" class="hs-collapse-toggle text-white bg-[#007BFF] rounded-[10px] py-4 px-6 hover:opacity-50 inline-block" id="hs-show-hide-collapse" data-hs-collapse="#hs-show-hide-collapse-heading">
                <span class="hs-collapse-open:hidden">View More</span>
                <span class="hidden hs-collapse-open:block">View less</span>
            </a>
        </div>
    </div>
</div>
<% } %>