<div class="mb-6">
    <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
        Popular Searches

        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                    <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                </svg>

        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                    <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                    <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                </svg>
    </div>
    <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
        <ul class="space-y-3 font-medium list-decimal">
            <li><a href="/words-that-start-with/anti/">Words that Start with ANTI</a></li>
            <li><a href="/words-that-start-with/astro/">Words that Start with ASTRO</a></li>
            <li><a href="/words-that-start-with/auto/">Words that Start with AUTO</a></li>
            <li><a href="/words-that-start-with/chron/">Words that Start with CHRON</a></li>
            <li><a href="/words-that-start-with/graph/">Words that Start with GRAPH</a></li>
            <li><a href="/words-that-start-with/hydro/">Words that Start with HYDRO</a></li>
            <li><a href="/words-that-start-with/hyper/">Words that Start with HYPER</a></li>
            <li><a href="/words-that-start-with/inter/">Words that Start with INTER</a></li>
            <li><a href="/words-that-start-with/jade/">Words that Start with JADE</a></li>
            <li><a href="/words-that-start-with/micro/">Words that Start with MICRO</a></li>
            <li><a href="/words-that-start-with/poly/">Words that Start with POLY</a></li>
            <li><a href="/words-that-start-with/tang/">Words that Start with TANG</a></li>
            <li><a href="/words-that-start-with/trans/">Words that Start with TRANS</a></li>
            <li><a href="/words-that-start-with/wha/">Words that Start with WHA</a></li>
            <li><a href="/words-that-start-with/zone/">Words that Start with ZONE</a></li>
            <li><a href="/words-that-end-in/able/">Words that End with ABLE</a></li>
            <li><a href="/words-that-end-in/anal/">Words that End with ANAL</a></li>
            <li><a href="/words-that-end-in/ance/">Words that End with ANCE</a></li>
            <li><a href="/words-that-end-in/anti/">Words that End with ANTI</a></li>
            <li><a href="/words-that-end-in/ants/">Words that End with ANTS</a></li>
            <li><a href="/words-that-end-in/avor/">Words that End with AVOR</a></li>
            <li><a href="/words-that-end-in/cide/">Words that End with CIDE</a></li>
            <li><a href="/words-that-end-in/dians/">Words that End with DIANS</a></li>
            <li><a href="/words-that-end-in/ence/">Words that End with ENCE</a></li>
            <li><a href="/words-that-end-in/graph/">Words that End with GRAPH</a></li>
            <li><a href="/words-that-end-in/ible/">Words that End with IBLE</a></li>
            <li><a href="/words-that-end-in/inter/">Words that End with INTER</a></li>
            <li><a href="/words-that-end-in/ious/">Words that End with IOUS</a></li>
            <li><a href="/words-that-end-in/jade/">Words that End with JADE</a></li>
            <li><a href="/words-that-end-in/less/">Words that End with LESS</a></li>
            <li><a href="/words-that-end-in/ment/">Words that End with MENT</a></li>
            <li><a href="/words-that-end-in/micro/">Words that End with MICRO</a></li>
            <li><a href="/words-that-end-in/ness/">Words that End with NESS</a></li>
            <li><a href="/words-that-end-in/ology/">Words that End with OLOGY</a></li>
            <li><a href="/words-that-end-in/pathy/">Words that End with PATHY</a></li>
            <li><a href="/words-that-end-in/poly/">Words that End with POLY</a></li>
            <li><a href="/words-that-end-in/ship/">Words that End with SHIP</a></li>
            <li><a href="/words-that-end-in/sion/">Words that End with SION</a></li>
            <li><a href="/words-that-end-in/tang/">Words that End with TANG</a></li>
            <li><a href="/words-that-end-in/tion/">Words that End with TION</a></li>
            <li><a href="/words-that-end-in/trans/">Words that End with TRANS</a></li>
            <li><a href="/words-that-end-in/ture/">Words that End with TURE</a></li>
            <li><a href="/words-that-end-in/uery/">Words that End with UERY</a></li>
            <li><a href="/words-that-end-in/wha/">Words that End with WHA</a></li>
            <li><a href="/words-that-end-in/zone/">Words that End with ZONE</a></li>            
        </ul>
    </div>
</div>