<div class="mb-6">
    <div
      class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative"
    >
    Words that Start with
  
      <svg
        xmlns="http://www.w3.org/2000/svg "
        width="10 "
        height="44 "
        viewBox="0 0 10 44 "
        fill="none "
        class="leftHandle"
      >
        <circle
          r="5 "
          transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) "
          fill="#0656AC "
        ></circle>
        <circle
          r="5 "
          transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) "
          fill="#0656AC "
        ></circle>
        <rect
          x="-0.5 "
          y="-0.5 "
          width="35 "
          height="3 "
          rx="1.5 "
          transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) "
          fill="white "
          stroke="#0656AC "
        ></rect>
      </svg>
  
      <svg
        xmlns="http://www.w3.org/2000/svg "
        width="10 "
        height="44 "
        viewBox="0 0 10 44 "
        fill="none "
        class="rightHandle"
      >
        <circle
          r="5 "
          transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) "
          fill="#0656AC "
        ></circle>
        <circle
          r="5 "
          transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) "
          fill="#0656AC "
        ></circle>
        <rect
          x="-0.5 "
          y="-0.5 "
          width="35 "
          height="3 "
          rx="1.5 "
          transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) "
          fill="white "
          stroke="#0656AC "
        ></rect>
      </svg>
    </div>
    <div
      class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]"
    >
    <% var letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''); %>
    <ul class="space-y-3 font-medium listing ps-1" id="words_that_start_with"
      <% letters.forEach(letter => { %>
      <li>
        <a href="/words-that-start-with/<%= letter.toLowerCase() %>/">Words that Start with <%= letter %></a>
      </li>
      <% }) %>
    </ul>
    <div class="text-center">
      <button class="toggle-btn text-white bg-[#007BFF] rounded-[10px] py-4 px-6 hover:opacity-50 inline-block mt-5" data-listing-id="words_that_start_with">View More</button>
    </div>
    </div>
  </div>
  